# This is an example environment file for the Sora project.
# Copy this file to .env and fill in the required values.

# Backend API URL
API_URL=http://localhost:3000

# Database connection URL
DATABASE_URL=

# API keys for various services
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=

# Customize the base URL for the API if needed. 
# If not set, it will default to the official API endpoint.
ANTHROPIC_BASE_URL=
OPENAI_BASE_URL=
GOOGLE_BASE_URL=

# Clerk OAuth credentials for authentication
CLERK_FRONTEND_API=
CLERK_OAUTH_CLIENT_SECRET=
JWT_SECRET=
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# POLAR configs for usage tracking and billing
POLAR_ACCESS_TOKEN=
POLAR_PRODUCT_ID=
POLAR_SERVER=sandbox
POLAR_CREDITS_METER_ID=
