API_URL=http://localhost:3000
DATABASE_URL=
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=

# Customize the base URL for the API if needed. 
# If not set, it will default to the official API endpoint.
ANTHROPIC_BASE_URL=
OPENAI_BASE_URL=
GOOGLE_BASE_URL=
